html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    overflow: hidden;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 16px;
    background: #FFFFFF;
    color: black;
}

input {
    background-color: black;
    color: #FFFFFF;
    font-family: Tahoma, Verdana, sans-serif;
    border-radius: 4px;
}
