<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's going on</title>
</head>
<body>
Здравствуйте, спасибо, что согласились принять участие в нашем исследовании.
<p>
    Исследование состоит из нескольких этапов. На первом мы попросим вас ответить на несколько вопросов о том, как вы работаете с кодом. После этого мы попросим вас решить несколько задач.
</p>
<p>
    Пожалуйста, не переключайтесь между экранами во время исследования, чтобы мы могли включить ваши данные в финальный анализ
</p>
<p>
    Если вы поняли и готовы продолжать, пожалуйста, нажмите кнопку «Дальше»
</p>
<form action="{{ url_for('user')}}">
    <input type="submit" value="Дальше" />
</form>
</body>
</html>