<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction</title>
</head>
<body>
Спасибо, что ответили на вопросы нашей анкеты!
<p>
    В следующие 20 минут вам предстоит решить набор задач, требующих использование кода. Пожалуйста, используйте наиболее эффективные способы решения.</p>
<p>
    На каждую задачу дается 2,5 минуты. Когда решение будет готово, нажмите «Дальше», чтобы перейти к следующей задаче.</p>
<p>
Если вы поняли инструкцию и готовы продолжать, пожалуйста, нажмите «Дальше».
</p>
<form action="{{ url_for("task", num=0, block_num=1) }}">
    <input type="submit" value="Дальше" />
</form>
</body>
</html>