<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello, user!</title>
</head>
<body>
<h1> {{ task_line1 }} </h1>
<h2> {{ task_line2 }} </h2>
<form action="/task" method="post">
    {{ template_form.hidden_tag() }}
    <p>
        {{template_form.user_name.label}}
        {{template_form.user_name()}}
    </p>
    <table><tr>
      {% for btn in template_form.theme %}
      <td>{{btn()}}</td>
      <td>{{btn.label}}</td>
    {% endfor %}
    </tr></table>
    <p>
        {{template_form.submit()}}
    </p>
</form>
</body>
</html>