<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, user!</title>
</head>
<body>
<form action="/user" method="POST">
    {{ template_form.hidden_tag() }}
    <p>
        {{template_form.user_name.label}}
    </p>
    <p>
        {{template_form.user_name()}}
    </p>
    <tr>
        {% for btn in template_form.theme %}
            <td>{{btn}}</td>
            <td>{{btn.label}}</td>
    {% endfor %}
    </tr>
    <p>
        {{template_form.submit()}}
    </p>
</form>
</body>
</html>