<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% if theme=='Dark' %}
    <link href='{{url_for('static', filename='dark.css') }}' rel='stylesheet'>
    {%else%}
    <link href='{{url_for('static', filename='light.css') }}' rel='stylesheet'>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hold</title>
    <script src="{{url_for('static', filename='timer.js') }}"></script>
</head>
<body>
<h2>Мы приступаем к следующему этапу.</h2>
<p>
    Нажмите «Дальше», когда кнопка станет активна.
</p>
<p id="timeLeft">Кнопка активируется через 20 секунд</p>
<form action="{{ get_next_page(page_id) }}" >
    <input type="submit" value="Дальше" />
</form>
</body>
</html>