<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='../static/usual.css' rel='stylesheet'>
    <title>What's going on</title>
    <script src="{{url_for('static', filename='timer.js') }}"></script>
</head>
<body>
<h2> Здравствуйте! Cпасибо, что согласились принять участие в нашем исследовании.
</h2>
<p>
    Исследование займет около 10 минут и состоит из двух этапов:
    <br>
    – на первом мы попросим вас представиться и ответить на вопрос о том, как вы работаете с кодом;
    <br>
    – на втором мы попросим вас решить несколько задач.
<br><br>
    Пожалуйста, не переключайтесь между экранами во время исследования и решайте задачи самостоятельно,
    не проверяя работу кода в других приложениях.<br>
    Мы просим вас отключить уведомления на время прохождения эксперимента, чтобы вас ничего не отвлекало от задач.
<br><br>
    Если вы поняли и готовы продолжать, пожалуйста, нажмите «Дальше», когда кнопка станет активна.
</p>
<p id="timeLeft">Кнопка активируется через 20 секунд</p>
<form action="{{ url_for('user')}}">
    <input type="submit" id="submitButton" disabled="disabled" value="Дальше" />
</form>
</body>
</html>