<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='../static/usual.css' rel='stylesheet'>
    <title>What's going on</title>
</head>
<body>
<h2> Здравствуйте! Cпасибо, что согласились принять участие в нашем исследовании.
</h2>
<p>
    Исследование займет около 10 минут и состоит из двух этапов:
    <br>
    – на первом мы попросим вас ответить на несколько вопросов о том, как вы работаете с кодом;
    <br>
    – на втором мы попросим вас решить несколько задач.
<br><br>
    Пожалуйста, не переключайтесь между экранами во время исследования и решайте задачи самостоятельно,
    не проверяя работу кода в других приложениях.
<br><br>
    Если вы поняли и готовы продолжать, пожалуйста, нажмите кнопку «Дальше»
</p>
<form action="{{ url_for('user')}}">
    <input type="submit" value="Дальше" />
</form>
</body>
</html>