<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% if theme=='Dark' %}
    <link href='../static/dark.css' rel='stylesheet'>
    {%else%}
    <link href='../static/light.css' rel='stylesheet'>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction</title>
    <script src="{{url_for('static', filename='timer.js') }}"></script>
</head>
<body>
<h2>
    Спасибо, что ответили на вопросы нашей анкеты!
</h2>
<p>
    В следующие 10 минут вам предстоит решить набор задач на языке python.
    <br><br>
    В рамках нашего исследования мы не будем проверять корректность работы кода, однако нам важно,
    чтобы решение задачи было максимально эффективным.
    Пожалуйста, используйте <b>наиболее</b> эффективный вариант кода для решения задачи.
<br><br>
    Когда решение будет готово, нажмите «Дальше», чтобы перейти к следующей задаче.
<br><br>
    Если вы поняли инструкцию и готовы продолжать, пожалуйста, нажмите «Дальше», когда кнопка станет активна.
</p>
<p id="timeLeft">Кнопка активируется через 20 секунд</p>
<form action="{{ get_next_page(page_id) }}">
    <input type="submit" id="submitButton" disabled="disabled" value="Дальше" />
</form>
</body>
</html>