<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% if theme=='Dark' %}
    <link href='../static/dark.css' rel='stylesheet'>
    {%else%}
    <link href='../static/light.css' rel='stylesheet'>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction</title>
</head>
<body>
<h2>
    Спасибо, что ответили на вопросы нашей анкеты!
</h2>
<p>
    В следующие 20 минут вам предстоит решить набор задач, требующих использование кода.
    <br>
    Пожалуйста, используйте наиболее эффективные способы решения.
<br><br>
    На каждую задачу дается 2,5 минуты. Когда решение будет готово, нажмите «Next», чтобы перейти к следующей задаче.
<br><br>
    Если вы поняли инструкцию и готовы продолжать, пожалуйста, нажмите «Дальше».
</p>
<form action="{{ get_next_page(page_id) }}">
    <input type="submit" value="Дальше" />
</form>
</body>
</html>