<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if theme=='Dark' %}
    <link href='{{url_for('static', filename='dark.css') }}' rel='stylesheet'>
    {%else%}
    <link href='{{url_for('static', filename='light.css') }}' rel='stylesheet'>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overcoming</title>

    <script src="{{url_for('static', filename='process_code.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<h2> {{ task_line1 }} </h2>
<div id="editor" style="width: 700px; height: 150px"></div>
<script>
const editor = ace.edit("editor");
    {% if theme=='Dark' %}
        editor.setTheme("ace/theme/monokai");
    {%else%}
        editor.setTheme("ace/theme/eclipse");
    {% endif %}
    editor.session.setMode("ace/mode/python");
</script>
<br>
<input type="submit" name="next" value="Дальше" onclick="processCode(editor);">
</body>
</html>